[alias]
#	sh = !/usr/local/bin/git-sh
	l = log --oneline
    edit = !/usr/lib/git-core//git-edit
    fr = log --oneline --graph
    a = add
    s = status --short
    st = status --short
    d = diff
    dw = diff -w
    dc = diff --cached
    dcw = diff -w --cached
    pr = pull --rebase origin
    po = push origin
    co = checkout

[color]
    ui = auto

[user]
    name = Evgeniy Vasilev
    email = github+dev@johnynsk.ru

[core]
    excludesfile = ~/.config/git/gitignore

