[submodule ".vim/bundle/Vundle.vim"]
    path = .vim/bundle/Vundle.vim
    url = https://github.com/gmarik/Vundle.vim.git

[submodule ".vim/bundle/utilsnips"]
    path = .vim/bundle/utilsnips
    url = https://github.com/vim-scripts/ultisnips.git

[submodule ".i3/i3-phpbar"]
    path = .i3/i3-phpbar
    url = https://github.com/johnynsk/i3-phpbar.git
