[alias]
    sh = !/usr/local/bin/git-sh
    edit = !/usr/lib/git-core//git-edit
    forest = !/usr/lib/git-core//git-forest
    st = status
    pl = pull --rebase origin
    fo = fetch origin
    ph = push origin
    co = checkout
    ro = rebase origin/master

[color]
    ui = auto

[user]
    name = Evgeniy Vasilev
    email = e.vasilev@office.ngs.ru

[core]
    excludesfile = /home/johny/.config/git/gitignore
